<motogat-header></motogat-header>

      <!-- SIDE MENU -->
      <br>
      <br>
        <nav id="leftmenu">
          <h3>Components List</h3>
          <ul>
            <li ui-sref-active="active"><a ng-click="vm.goComponet('CKP - S05')">CKP - (S05)</a></li>
            <li ui-sref-active="active"><a ng-click="vm.goComponet('CMP - S01')">CMP - (S01)</a></li>
            <li ui-sref-active="active"><a ng-click="vm.goComponet('APP - S04')">APP - (S04)</a></li>
            <li ui-sref-active="active"><a ng-click="vm.goComponet('MAF IAT - S07')">MAF & IAT - (S07)</a></li>
            <li ui-sref-active="active"><a ng-click="vm.goComponet('THROTLE BODY - S02')">THROTRLE BODY - (S02)</a></li>
            <li ui-sref-active="active"><a ng-click="vm.goComponet('MAP - S06')">MAP - (S06)</a></li>
            <li ui-sref-active="active"><a ng-click="vm.goComponet('ECT - S03')">ECT - (S03)</a></li>
            <li ui-sref-active="active"><a ng-click="vm.goComponet('VVT - A01')">VVT - (A01)</a></li>
            <li ui-sref-active="active"><a ng-click="vm.goComponet('IGN#1 - A02')">IGN #1 - (A02)</a></li>
            <li ui-sref-active="active"><a ng-click="vm.goComponet('IGN#2 - A02')">IGN #2 - (A02)</a></li>
            <li ui-sref-active="active"><a ng-click="vm.goComponet('IGN#3 - A02')">IGN #3 - (A02)</a></li>
            <li ui-sref-active="active"><a ng-click="vm.goComponet('IGN#4 - A02')">IGN #4 - (A02)</a></li>
            <li ui-sref-active="active"><a ng-click="vm.goComponet('O2 SENSOR - S08')">O2 SENSOR - (S08)</a></li>
            <li ui-sref-active="active"><a ng-click="vm.goComponet('INJ#1 - A04')">INJ #1 - (A04)</a></li>
            <li ui-sref-active="active"><a ng-click="vm.goComponet('INJ#2 - A05')">INJ #2 - (A05)</a></li>
            <li ui-sref-active="active"><a ng-click="vm.goComponet('INJ#3 - A06')">INJ #3 - (A06)</a></li>
            <li ui-sref-active="active"><a ng-click="vm.goComponet('INJ#4 - A07')">INJ #4 - (A07)</a></li>
            <li ui-sref-active="active"><a ng-click="vm.goComponet('FUEL PUMP - A03')">FUEL PUMP - (A03)</a></li>

          </ul>
        </nav>

      <div class="container">
  <!-- WORKING/DISPLAY AREA -->
        <section>
          <!--  <div ui-view="campaigns"></div>-->
          <img src="images/autoTeachMain.jpg" class=" img-thumbnail" alt="User Management"
        width="1100px" height="600px">
        </section>

      </div>

<motogat-footer></motogat-footer>
