<motogat-header></motogat-header>

<div class="jumbotron">
        <div class="container">
          <h2> Model Selection</h2>
  	  </div>
</div>

<!-- <ul>
  <li class="motogatModels" ng-repeat="model in vm.modelList">
      <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="{{model.smallpic}}" ui-sref="AutoTeachMain" class="" alt="User Management">
              <div class="caption">
                  <h3 ui-sref="AutoTeachMain">{{model.name}}</h3>
              </div>
            </div>
          </div>
      </div>
  </li>
</ul> -->

<div class="container">

      <div  ng-repeat="model in vm.modelList">
        <div class="col-md-4">
            <div class="caption">
              <h3 ui-sref="AutoTeachMain">{{model.name}}</h3>
            </div>
            <img src="{{model.smallpic}}" ui-sref="AutoTeachMain" class="" alt="User Management">
          <!--width="260px" height="200px">-->
        </div>
      </div>
</div>

<motogat-footer></motogat-footer>
