<motogat-header></motogat-header>

<div class="jumbotron">
        <div class="container">
          <h2> Model Selection</h2>
  	  </div>
</div>


<div class="container">

      <div  ng-repeat="model in vm.modelList">
        <div class="col-md-4">
            <div class="caption">
              <h3 ng-click="vm.gotoMainModel(model)" >{{model.name}}</h3>
            </div>
            <img src="{{model.smallpic}}" ng-click="vm.gotoMainModel(model)"  class="
            " alt="User Management">
          <!--width="260px" height="200px">-->
        </div>
      </div>
</div>

<motogat-footer></motogat-footer>
