<motogat-header></motogat-header>

      <!-- SIDE MENU -->
      <br>
      <br>
        <nav id="leftmenu">
          <h3>Components List</h3>
          <ul>
            <li ui-sref-active="active"><a ng-click="vm.goComponet('CETCS - 10A')">ETCS - (10A)</a></li>
            <li ui-sref-active="active"><a ng-click="vm.goComponet('VVT sensor Intake Side - B21')">VVT sensor Intake Side - (B21)</a></li>
            <li ui-sref-active="active"><a ng-click="vm.goComponet('VVT sensor Exhaust Side - B20')">VVT sensor Exhaust Side - (B20)</a></li>
            <li ui-sref-active="active"><a ng-click="vm.goComponet('Camshaft Timing Oil Control Valve Exhaust Side - B22')">Camshaft Timing Oil Control Valve Exhaust Side - (B22)</a></li>
            <li ui-sref-active="active"><a ng-click="vm.goComponet('Throtle Body Assembly - B25')">Throtle Body Assembly - (B25)</a></li>
            <li ui-sref-active="active"><a ng-click="vm.goComponet('Camshaft Timing Oil Control Valve Intake Side - B23')">Camshaft Timing Oil Control Valve Intake Side - (B23)</a></li>
            <li ui-sref-active="active"><a ng-click="vm.goComponet('Water temp Sensor - B3')">Water temp Sensor - (B3)</a></li>
            <li ui-sref-active="active"><a ng-click="vm.goComponet('Accelerator Position Sensor - A3')">Accelerator Position Sensor - (A3)</a></li>
            <li ui-sref-active="active"><a ng-click="vm.goComponet('DLC3')">DLC3</a></li>
            <li ui-sref-active="active"><a ng-click="vm.goComponet('Ignition Ciols')">Ignition Ciols</a></li>
            <li ui-sref-active="active"><a ng-click="vm.goComponet('Heated Oxygen Sensor - B24')">Heated Oxygen Sensor - (B24)</a></li>
            <li ui-sref-active="active"><a ng-click="vm.goComponet('Air Fuel Ratio Sensor - B129')">Air Fuel Ratio Sensor - (B129)</a></li>
            <li ui-sref-active="active"><a ng-click="vm.goComponet('Knock Control Sensor - D1')">Knock Control Sensor - (D1)</a></li>
            <li ui-sref-active="active"><a ng-click="vm.goComponet('Air Flow Meter - B2')">Air Flow Meter - (B2)</a></li>
            <li ui-sref-active="active"><a ng-click="vm.goComponet('VSV Purge - B19')">VSV Purge - (B19)</a></li>
            <li ui-sref-active="active"><a ng-click="vm.goComponet('Crankshaft Position Snesor - B13')">Crankshaft Position Snesor - (B13)</a></li>
            <li ui-sref-active="active"><a ng-click="vm.goComponet('Fuel Injector No.1 - B9')">Fuel Injector No.1 - (B9)</a></li>
            <li ui-sref-active="active"><a ng-click="vm.goComponet('Fuel Injector No.2 - B10')">Fuel Injector No.2 - (B10)</a></li>
            <li ui-sref-active="active"><a ng-click="vm.goComponet('Fuel Injector No.3 - B11')">Fuel Injector No.3 - (B11)</a></li>
            <li ui-sref-active="active"><a ng-click="vm.goComponet('Fuel Injector No.4 - B12')">Fuel Injector No.4 - (B12)</a></li>
          </ul>
        </nav>

      <div class="container">
  <!-- WORKING/DISPLAY AREA -->
        <section>
          <!--  <div ui-view="campaigns"></div>-->
          <br>
          <img src="images/ToyotaMain.jpg" class=" img-thumbnail" alt="User Management"
        width="1100px" height="600px">
        </section>

      </div>

<motogat-footer></motogat-footer>
